*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', serif;
    background-color: hsl(30, 54%, 90%);
    color: hsl(0, 0%, 8%);
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       
}

.blog-page{
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 10px;
    width: 900px;
    height: auto;
}

img{
    width: 900px;
    height: auto;
    border-radius: 10px;
}

.prep-time{
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 30px;
    margin-top: 30px;
}

.prep-time h1{
    color: hsl(332, 51%, 32%);
}

ul {
    margin-left: 20px;
}

li{
    margin-top: 10px;
    margin-left: 30px;
}