*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', serif;
    background-color: hsl(30, 54%, 90%);
    color: hsl(0, 0%, 8%);
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       
}

.blog-page{
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: hsl(0, 0%, 100%);
    padding: 50px;
    border-radius: 30px;
    width: 650px;
    height: auto;
}

.blog-page h1{
    font-family: 'Young Serif', serif;
    font-size: 36px;
    margin-bottom: 20px;
}

img{
    width: 100%;
  height: 100%;
  object-fit: fill;
    border-radius: 10px;
}

.prep-time{
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 30px;
    margin-top: 30px;
}

.prep-time h2{
    color: hsl(332, 51%, 32%);
    font-family: 'Young Serif', serif ;
}

.heading{
    margin-top: 20px;
    margin-bottom: 10px;
    color: hsl(14, 45%, 36%);
    font-family: 'Young Serif';
}

ul {
    margin-left: 20px;
}

li{
    margin-top: 10px;
    margin-left: 30px;
}

/* Color the second column (both header and data cells) Brown 800 from the style guide */
table td:nth-child(2),
table th:nth-child(2) {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}


ol li::marker,
ul li::marker {
    color: hsl(14, 45%, 36%);
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-left: 30px;

}

tr{
    border-bottom: 1px solid hsl(0, 0%, 80%);
    
}

td{
    padding: 10px;
}

ul{
    margin-bottom: 20px;
}

hr{
    border: 0;
    height: 1px;
    background-color: hsl(0, 0%, 80%);
    margin-top: 20px;
}

.nutrition{
    border-radius: 10px;
    padding: 0px 0px 0px 20px;
}